body {
  font-family: 'Architects Daughter';
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

header {
  float: left;
}

section#character {
  float: left;
  padding-left: 50px;
}

section#input {
  padding-top: 115px;
  padding-left: 100px;
  float: left;
  text-align: left;
  background-image: url("Speech-Bubble.png");
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position-x: 33px;
  width: 800px;
}

input[type="text"] {
  font-family: 'Architects Daughter';
  font-size: 25px;
  width: 640px;
}

select {
  font-family: 'Architects Daughter';
  font-size: 25px;
  width: 640px;
  margin-top: 115px;
  padding: 5px;
}

button {
  font-family: 'Architects Daughter';
  font-size: 25px;
  width: 628px;
  margin-top: 40px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
}

#character .hidden {
  display: none;
}

#character p {
  font-size: 25px;
  text-align: center;
}

p#unknown img {
  filter: grayscale(100%) contrast(5%)
}